<%- include('partials/header') %>

<form action="/modifica/<%= libro.id %>" method="POST">
    <label>Titolo:</label><br>
    <input type="text" name="titolo" value="<%= libro.titolo %>" required><br><br>

    <label>Autore:</label><br>
    <input type="text" name="autore" value="<%= libro.autore %>" required><br><br>

    <label>Anno:</label><br>
    <input type="number" name="anno" value="<%= libro.anno %>" required><br><br>

    <button type="submit">Aggiorna Libro</button>
</form>

<%- include('partials/footer') %>