<%- include('partials/header') %>

<div class="card">
    <h2><%= libro.titolo %></h2>
    <p><strong>Autore:</strong> <%= libro.autore %></p>
    <p><strong>Anno di pubblicazione:</strong> <%= libro.anno %></p>
    <p><strong>ID Database:</strong> <%= libro.id %></p>
</div>

<%- include('partials/footer') %>